html
  head
    title= title
    link(rel='stylesheet', href='https://hunter2labs.s3.amazonaws.com/common.css')
    script(src='https://hunter2labs.s3.amazonaws.com/common.js')
  body
    form(action='/', method='post', encType='application/x-www-form-urlencoded')
      select(name='filter')
        option(value='public') Public
        option(value='members', disabled) Members-only
      button(type='submit') View posts
    if posts && posts.length
      h3 Posts:
      table
        thead
          tr
            th Title
            th Contents
            th Category
        tbody
          each post in posts
            tr
              td= post.title
              td= post.contents
              td= post.category